body {
    background-color: #02021f;
    color: aliceblue;
}

.xyz {
    position: relative;
    padding-top: 10vh;
    padding-bottom: 7vh;
}

.abc {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.heading {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.heading {
    font-size: 5vh;
    text-align: center;
}

h1 {
    line-height: 45px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.pstyle {
    font-family: Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    letter-spacing: 1px;
}

.pstyle.pstyle-space {
    margin-top: 3vh;
}

p.pstyle.pstyle-space {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-height: 100%;
}

.card {
    display: flex;
    align-content: center;
    margin-top: 0px;
    margin-right: 15vh;
    margin-bottom: 0px;
    margin-left: 15vh;
    box-shadow: 0 0 30px rgba(199, 193, 193, 0.5);
    overflow: hidden;
    border-radius: 40px;
}

.card-title {
    position: relative;
    font-size: 4vh;
    color: rgb(223, 165, 19);
}

p.card-text {
    font-family: Helvetica, sans-serif;
    font-size: 1.2vw;
    text-align: center;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

p.card-text.card-text-space {
    height: auto;
    position: relative;
    padding-top: 1vh;
    padding-right: 2vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    display: flex;
}